$marker-color: #a6761d;
$secondary-marker-color: #e6ab02;

.hide{
  display: none;
}


body {
  max-width: 900px;
  margin: auto;
}

.viz-container {
  border: 1px solid #bbb;
  height: 300px;
}

@media (min-width: 768px){
  .viz-container {
    float: left;
    width: 60%;
    height: 500px;
  }
}

.viz-tooltip {
  position: absolute;

  font-size: 11px;

  padding: 3px;

  min-width: 100px;
  max-width: 140px;

  border: 1px solid #bbb;
  background-color: #fff;
  opacity: 1;

  pointer-events: none;
}

.control-panel {
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .viz-tooltip{
    display: none;
  }
}



// Mobile styling
.tease-container {

  border: 1px solid #bbb;
  background-color: #fff;

  /* Mobile display stuff*/
  width: 100%;
  height: auto;

  position: relative;
  /*bottom: 0px;
  left: 0px;*/

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .tease-header {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    left: 0;
  }

  .tease-header a {
    cursor: pointer;
  }

  .story-tease {
    border-left: 1px solid #bbb;
    background-color: #fff;

    /* Mobile display stuff */
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    padding-left: 5px;
    padding-right: 5px;

    width: 200px;
    height: 160px;
  }

  .story-tease:first-child{
    border-left: none;
  }
  .story-tease.highlight {
    background: #eee;
  }

  .thumbnail-container {
    height: 150px;
    width: 100%;
    background-color: #666;
    border: none;
  }

  .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Change for desktop
@media (min-width: 768px){
  .tease-container {
    /*position: static;*/
    float: right;
    width: 39%;
    height: 500px;

    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;

    // OLD
    // .story-tease {
    //   width: auto;
    //   height: auto;

    //   padding: 0;
    //   margin-left: 10px;
    //   margin-right: 10px;

    //   border-style: none;
    //   border-bottom: 1px solid #bbb;
    // }

    .story-tease {
      width: auto;
      height: auto;

      padding: 0;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;

      // border-style: none;
      border: 1px solid #bbb;

      h4, h5, h6, p {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:last-child{
        margin-bottom: 150px;
      }
      &:first-child{
        margin-top: 150px;
      }

      &.highlight {
        background: #eee;
        // margin-left: 5px;
        // margin-right: 5px;

        border: 2px solid #000;

        h4, h5, h6 {
          // font-weight: 800;
        }
      }
    }

    .tease-padding{
      height: 30%
    }
  }
}
/* Story teases */


.axis-label {
  font-size: 10px;
  /*font-style: italic;*/
}

.grid-line line {
  stroke: #bbb;
}

/// TOOLTIP

// .tooltip-container {
//   position: absolute;
//   top: 0;
//   left: 0;

//   background-color: #fff;
//   padding: 5px;
// }

.tooltip-container.hide {
  display: none;
}

.marker {
  opacity: 1.0;
  // cursor: pointer;
  stroke: #666;
  stroke-width: 1;
  fill: $marker-color;

  &.secondary {
    fill: $secondary-marker-color;
  }

  &.fadeout {
    opacity: 0.2;
  }

  &.highlight {
    stroke: black;
    stroke-width: 2;
    opacity: 1;
  }

  &.prime-highlight {
    stroke: black;
    stroke-width: 2;
    fill: #fff;
    opacity: 1;
  }
}

.story-thread {
  stroke: #000;
  stroke-width: 3;
  fill: none;
}

/* Article icons */

.article-icon {
  // background-image: url('./../images/article.svg');
  background-size: contain;
  width: 100px;
  height: 100px;
}

.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  // display: block;
}
