$marker-color: #a6761d;
$secondary-marker-color: #e6ab02;

$break-point: 768px;

.hide{
  display: none;
}


body {
  max-width: 900px;
  margin: auto;
}

.container {
  max-width: 900px;
  margin: auto;
}

.viz-container {
  border: 1px solid #bbb;
  background-color: #ffffff;
  height: 300px;
}

@media (min-width: $break-point){
  .viz-container {
    float: left;
    width: 60%;
    height: 500px;

  }
}

.viz-tooltip {
  position: absolute;

  font-size: 11px;

  padding: 3px;

  min-width: 100px;
  max-width: 140px;

  border: 1px solid #bbb;
  background-color: #fff;
  opacity: 1;

  pointer-events: none;
}

.control-panel {
  margin-bottom: 10px;

  .dropdown-menu {
    height: auto;
    max-height: 200px;
    max-width: 100%;
    overflow-x: hidden;
    // display: block;
  }

  /* Custom styling for topic dropdown */
  .dropdown-menu > div > h5 {
    padding: 3px 20px;
    margin-bottom: 0;
  }
  .dropdown-menu > div > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
  }
  .dropdown-menu > div > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

@media (max-width: $break-point){
  .viz-tooltip{
    display: none;
  }
}

.blurb-container {
  border: 1px solid #bbb;
  background-color: #fff;

  &.mobile {
    width: 100%;
    height: auto;
    min-height: 50px;
    position: relative;
  }
  &.desktop {
    width: 39%;
    height: 500px;
    float: right;
  }

  .blurb-header {

  }
  .blurb-scroller-container {
    height: 100%;
    width: 100%;
    position: relative;

  }
  .blurb-scroller-header {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    z-index: 30;
    box-shadow: 0px 1px 1px #bbb;

  }
  .blurb-scroller {
    /*Set relative for offset calcs by scroll interaction */
    position: relative;
    left: 0;
    top: 0;

    &.mobile {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
    &.desktop {
      overflow-x: hidden;
      overflow-y: auto;
      white-space: normal;
      height: 100%;
    }
  }
  .blurb {
    border: 1px solid #000;
    box-shadow: 2px 2px 1px #bbb;

    h4, h5, h6, p {
      margin-left: 5px;
      margin-right: 5px;
    }

    &.highlight {
      background: #eee;
      border: 2px solid #000;
      transform: scale(1.05);
    }
    &.mobile {
      width: 200px;
      height: 160px;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;

      &:first-child {
        margin-left: 100px;
      }
      &:last-child {
        margin-right: 1000px;
      }
    }
    &.desktop {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;

      /* Margins here allow scroll selection for first/last items */
      &:first-child {
        margin-top: 50px;
      }
      &:last-child {
        margin-bottom: 300px;
      }
    }
  }
  .thumbnail-container {
    height: 150px;
    width: 100%;
    background-color: #666;
    border: none;
  }

  .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tag-container {
    font-size: 12px;
    line-height: 20px;
  }
  .tag-container span {
    background-color: #ccc;
    border-radius: 3px;
    padding: 1px 3px;
    cursor: pointer;
  }
  .tag-container span:hover{
    background-color: #aaa;
  }

}


// Mobile styling
.tease-container {

  border: 1px solid #bbb;
  background-color: #fff;

  /* Mobile display stuff*/
  width: 100%;
  height: auto;

  position: relative;
  /*bottom: 0px;
  left: 0px;*/

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .tease-header {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    left: 0;
  }

  .tease-header a {
    cursor: pointer;
  }

  .story-tease {
    border-left: 1px solid #bbb;
    background-color: #fff;

    /* Mobile display stuff */
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    padding-left: 5px;
    padding-right: 5px;

    width: 200px;
    height: 160px;
  }

  .story-tease:first-child{
    border-left: none;
  }
  .story-tease.highlight {
    background: #eee;
  }

  .thumbnail-container {
    height: 150px;
    width: 100%;
    background-color: #666;
    border: none;
  }

  .thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Change for desktop
@media (min-width: $break-point){
  .tease-container {
    /*position: static;*/
    float: right;
    width: 39%;
    height: 500px;

    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;

    // OLD
    // .story-tease {
    //   width: auto;
    //   height: auto;

    //   padding: 0;
    //   margin-left: 10px;
    //   margin-right: 10px;

    //   border-style: none;
    //   border-bottom: 1px solid #bbb;
    // }

    .story-tease {
      width: auto;
      height: auto;

      padding: 0;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;

      // border-style: none;
      border: 1px solid #000;

      h4, h5, h6, p {
        margin-left: 5px;
        margin-right: 5px;
      }

      &:last-child{
        margin-bottom: 150px;
      }
      &:first-child{
        margin-top: 150px;
        border: 1px solid #000;
      }

      &.highlight {
        background: #eee;
        border: 2px solid #000;

        h4, h5, h6 {
          // font-weight: 800;
        }
      }
    }

    .tease-padding{
      height: 30%
    }
  }
}
/* Story teases */


.axis-label {
  font-size: 10px;
  /*font-style: italic;*/
}

.grid-line line {
  stroke: #bbb;
}

/// TOOLTIP

// .tooltip-container {
//   position: absolute;
//   top: 0;
//   left: 0;

//   background-color: #fff;
//   padding: 5px;
// }

.tooltip-container.hide {
  display: none;
}

.marker {
  opacity: 1.0;
  // cursor: pointer;
  // stroke: #666;
  stroke-width: 0;
  // fill: $marker-color;

  &.secondary {
    // fill: $secondary-marker-color;
  }

  &.fadeout {
    opacity: 0.2;
    transform: scale(0.8,1);
  }

  &.highlight {
    stroke: black;
    // stroke-width: 1;
    opacity: 1;
  }

  &.prime-highlight {
    stroke: black;
    stroke-width: 2;
    // fill: #fff;
    opacity: 1;
  }
}
.marker-shadow {
  fill: #666;
  opacity: 0.4;

}


.story-thread {
  stroke: #000;
  stroke-width: 3;
  fill: none;
}

/* Article icons */

.article-icon {
  // background-image: url('./../images/article.svg');
  background-size: contain;
  width: 100px;
  height: 100px;
}



/* Viz gridlines */
.grid-minor {
  stroke: #ddd;
}
.grid-major {
  stroke: #ccc;
  stroke-width: 2px;
}

/* CONTROL PANEL */
.dropdown-container {
  .control-label {
    display: block;
  }
  .form-control {
    display: inline-block;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.typeahead-container {
  .dropdown {
    max-width: 100%;
    li a {
      white-space: normal;
      padding-left: 10px;
      border-bottom: 1px solid #eee;
    }
    span.dropdown-num {
      color: #666;
    }

  }
}
