$break-point: 768px;

@import 'ControlPanel';
@import 'StoryViz';
@import 'BlurbContainer';



.hide{
  display: none;
}

body {

}

// a {
//   color: #33a02c;
// }
// a:hover, a:focus {
//   color: #1e5e1a;
//   // text-decoration: none;
// }

.container {
  max-width: 900px;
  margin: auto;
}


/* Text containers */

.headline {
  font-family: Georgia, serif;
  background-color: #444;
  color: #fff;
  text-align: center;

  h1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.text-container {
  max-width: 550px;
  margin: 0 auto;
  font-size: 15px;
  font-family: Georgia, serif;

  h2 {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h3 {
    text-transform: uppercase;
  }

  .article-framing {
    text-align: center;
    line-height: 1.7em;
  }
  .byline {
    font-weight: bold;
    display: inline;
  }
  .pub-date {
    font-style: italic;
    display: inline;
  }

  .storyTag {
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .link-hook {
    color: #337ab7;
    cursor: pointer;
  }
  .link-hook:hover {
    text-decoration: underline;
  }
  .footnote {
    font-style: italic;
  }
}

.app-container {
  display: block;
  overflow: auto;
}




